name: CI
on: push
jobs:
  eslint:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./client
    steps:
      - name: Install NodeJS
        uses: actions/setup-node@v2
        with:
          node-version: 18

      - name: Code Checkout
        uses: actions/checkout@v2

      - name: Install Dependencies
        run: npm install

      - name: Code Linting
        run: npx eslint .

      - name: Code formatting
        run: npx prettier .